@import "tailwindcss";

@theme {
  --color-nexus-red: #D32F2F;
  --color-nexus-dark: #1A1A1A;
  --color-nexus-bg: #FDFBF7;
  --color-nexus-border: #EAE6DF;
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    background-color: var(--color-nexus-bg);
    color: var(--color-nexus-dark);
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 35s linear infinite;
  }
}
